.wrap{
		width: 320px;
		height: 480px;
		margin: 50px auto;
		border: 1px solid black;
		background: url(../img/bg.jpg);
		position: relative;
		overflow: hidden;
	}
	.wrap .start .score{
		width: 28px;
		height: 39px;
		background: url(../img/0.jpg);
		position: absolute;
		left: 0;
		right: 0;
		top: 80px;
		margin: auto;
	}
	.wrap .start .bird{
		width: 120px;
		height: 100px;
		background: url(../img/head.jpg) no-repeat;
		background-size:  120px;
		position: absolute;
		left: 0;
		right: 0;
		top: 180px;
		margin: auto;
		animation: bird 1s linear infinite;
		/*-webkit-animation: bird 1s linear infinite;*/
	}
	@keyframes bird{
		0%{
			top: 180px;
		}
		50%{
			top: 160px;
		}
		100%{
			top: 180px;
		}
	}
	/*@-webkit-Keyframes 'bird'{
		0%{
			top: 180px;
		}
		50%{
			top: 160px;
		}
		100%{
			top: 180px;
		}
	}*/
	.wrap .start .bird img{
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
	}
	.wrap .start p{
		width: 85px;
		height: 29px;
		background: url(../img/start.jpg);
		position: absolute;
		left: 0;
		right: 0;
		bottom: 135px;
		margin: auto;
		cursor: pointer;
	}
	.wrap .play{
		width: 320px;
		height: 424px;
		display: none;
		position: relative;
	}
	.wrap .play .num{
		position: absolute;
		right: 0;
		margin: auto;
		top: 0;
		z-index: 2;
	}
	.wrap .play .play_b{
		width: 34px;
		height: 24px;
		position: absolute;
		background-image: url(../img/3.gif);
		background-position:  -6px -12px;
		left: 60px;
		top: 200px;
	}
	.wrap .play .zhu{
		width: 62px;
		height: 424px;
		position: absolute;
		left: 200px;
		top: 0;
	}
	.wrap .play .z2{
		left: 360px;
	}
	.wrap .play .z3{
		left: 520px;
	}
	.wrap .play .down{
		width: 62px;
		background: url(../img/down_mod.png);
		position: absolute;
		left: 0;
		right: 0;
		margin: auto;
		bottom: 0;
	}
	.wrap .play .up{
		width: 62px;
		background: url(../img/up_mod.png);
		position: absolute;
		left: 0;
		right: 0;
		margin: auto;
		top: 0;
	}
	.wrap .play .up img{
		position: absolute;
		bottom: 0;
	}
	.wrap .end{
		width: 269px;
		height: 250px;
		left: 25.5px;
		position: absolute;
		top: 150px;
		display: none;
	}
	.wrap .end .over{
		width: 221px;
		height: 40px;
		position: absolute;
		left: 24px;
		background: url(../img/game_over.jpg);
	}
	.wrap .end .con{
		width: 269px;
		height: 135px;
		position: absolute;
		top: 60px;
		background: url(../img/message.jpg);
	}
	.wrap .end .con .modal{
		width: 48px;
		height: 48px;
		position: absolute;
		left: 33px;
		top: 52px;
		border-radius: 24px;
		background: url(../img/3.gif);
	}
	.wrap .end .con .sco{
		width: 56px;
		height: 30px;
		line-height: 30px;
		text-align: center;
		font-size: 20px;
		color: #223355;
		position: absolute;
		top: 38px;
		right: 24px;
	}
	.wrap .end .con .best{
		width: 42px;
		height: 30px;
		line-height: 30px;
		text-align: center;
		font-size: 20px;
		color: #ff9966;
		position: absolute;
		top: 88px;
		right: 24px;
	}
	.wrap .end .submit{
		width: 85px;
		height: 29px;
		position: absolute;
		left: 92px;
		top: 219px;
		background: url(../img/submit.jpg);
		cursor: pointer;
	}
	.wrap .scroll{
		width: 500px;
		height: 21px;
		position: absolute;
		background: url(../img/banner.jpg) 0 -3px;
		overflow: hidden;
		left: 0;
		bottom: 35px;
	}