

.fl{
	float: left;
}
.fr{
	float: right;
}
.clear:after{
	content: '';
	display: block;
	clear: both;
}

html,body{
	width: 100%;
	height: 100%;
}
.wrap{
	width: 100%;
	min-width: 1200px;
	height: 100%;
	min-height: 800px;
	position: relative;
}





/*=====================zhuye1======================*/
.wrap .swiper-container{
	width: 100%;
	height: 100%;
	background: #f1f1f1;
}



.wrap .swiper-wrapper{
	width: 1000px;
	height: 80%;   /* 632*/
	margin: 80px auto;
}

#diyi{
	width: 100%;
	height: 100%;
}
#diyi .yi{
	width: 1000px;
	height: 50%;
	display: -webkit-box;
}
#diyi .yi a{
	display: block;
	width: 25%;
	text-align: center;
	vertical-align: middle;
}

#diyi .er{
	width: 1000px;
	height: 50%;
	display: -webkit-box;
}
#diyi .er a{
	display: block;
	width: 25%;
	text-align: center;
	vertical-align: middle;
}



#diyi2{
	width: 100%;
	height: 100%;
}
#diyi2 .yi{
	width: 1000px;
	height: 50%;
	display: -webkit-box;
}
#diyi2 .yi a{
	display: block;
	width: 25%;
	text-align: center;
	vertical-align: middle;
}

#diyi2 .er{
	width: 1000px;
	height: 50%;
	display: -webkit-box;
}
#diyi2 .er a{
	display: block;
	width: 25%;
	text-align: center;
	vertical-align: middle;
}



#diyi3{
	width: 100%;
	height: 100%;
}
#diyi3 .yi{
	width: 1000px;
	height: 50%;
	display: -webkit-box;
}
#diyi3 .yi a{
	display: block;
	width: 25%;
	text-align: center;
	vertical-align: middle;
}

#diyi3 .er{
	width: 1000px;
	height: 50%;
	display: -webkit-box;
}
#diyi3 .er a{
	display: block;
	width: 25%;
	text-align: center;
	vertical-align: middle;
}







#nav{
	position: absolute;
	top:10px;
	padding: 0 27px;
	width: 100%;
}
#nav .logoi{
	vertical-align: middle;
}


#nav img{
	margin-right: 27px;
	vertical-align: middle;
}

#nav .r{
	margin-right: 27px;
	height: 100%;
	line-height: 70px;
}
#xia{
	position: absolute;
	bottom: 20px;
	right: 27px;
	z-index: 10;
}


#nav2{
	width: 10%;
	height: 100%;
	text-align: center;
	position: absolute;
	top: 0px;
	left: 27px;
	z-index: 10;
}
#nav2 a:nth-child(1){
	position: absolute;
	top: 336px;
	left: 0;
}
#nav2 a:nth-child(2){
	position: absolute;
	top: 396px;
	left: 0;
}
#nav2 a:nth-child(3){
	position: absolute;
	top: 456px;
	left: 0;
}




